*, *::before, *::after { box-sizing: border-box; }

.App { padding: 25px; }

.title { text-align: center; }

.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 50%;
	border: 1px solid #ccc;
	border-radius: 5px;
	flex: 1;
	margin-bottom: 10px;
	height: 40px;
	line-height: 20px;
	padding: 8px 15px;
}

.counter {
  font-size: 20px;
  margin: 0 auto;
  display: block;
  padding: 8px 15px;
  text-align: center;
  width: 50%;
}

.repo {
  margin: 0 auto;
  margin-bottom: 2px;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 2px solid mediumslateblue;
}

.repo_id {
  width: 20%;
  text-align: left;
}

.repo_url {
  width: 40%;
  text-align: left;
}

.repo_owner {
  width: 40%;
  text-align: left;
}
