*, *::before, *::after { box-sizing: border-box; }

.App { padding: 25px; }

.title { text-align: center; }

.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 50%;
	border: 1px solid #ccc;
	border-radius: 5px;
	flex: 1;
	margin-bottom: 10px;
	height: 40px;
	line-height: 20px;
	padding: 8px 15px;
}
